@model IEnumerable<LibraryAppMVC.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>
                Availability
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @(item.Borrower != null ? item.Borrower.UserName : "Not Borrowed")
            </td>
            <td>
                @if (item.IsAvailable)
                {
                    <span class="badge bg-success">Available</span>
                }
                else
                {
                    <span class="badge bg-danger">Not Available</span>
                }
            </td>
            <td>
                @if (item.IsAvailable)
                {
                    <a asp-action="Borrow" asp-route-id="@item.BookId">Borrow</a>
                }
                else
                {
                    <span>Unavailable</span>
                }
                | 
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
